<springcampus-country-header country="country" active-tab="clubs"></springcampus-country-header>
<div class="springcampus-pagecontent">
  <div class="row">
    <div class="col-md-6">
      <div ng-repeat="club in clubsHalf1 | orderBy:'name'" style="margin-bottom: 8px;">
        <springcampus-club-info club="club"></springcampus-club-info>
      </div>
    </div>
    <div class="col-md-6">
      <div ng-repeat="club in clubsHalf2 | orderBy:'name'" style="margin-bottom: 8px;">
        <springcampus-club-info club="club"></springcampus-club-info>
      </div>
    </div>
  </div>
</div>
