@dir-flags: "../images/flags/";
@dir-flags-16: "@{dir-flags}16/";
@dir-flags-24: "@{dir-flags}24/";
@img-ext: ".png";

html {
  height: 100%;
}

body {
  padding-top: 60px;
  height: 100%;
  box-sizing: border-box;
}

.springcampus-bold {
  font-weight: bold;
}

.springcampus-pageheader {

}

.springcampus-pagecontent {
  height: 100%;
  padding: 8px 0 8px 0;
}

.springcampus-pagetitle {
  margin-bottom: 8px;
  padding: 5px 20px 20px 20px;
  background-color: #eeeeee;
}

.springcampus-fill {
  height: 100%;
  min-height: 100%;
}

.container .breadcrumb {
  border-radius: 6px;
  margin: 0 0 8px 0;
}

.container .springcampus-pagetitle {
  border-radius: 6px;
}

.flag-16{
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: center left;
}

.flag-16-CH{ background-image: url("@{dir-flags-16}CH@{img-ext}"); }
.flag-16-DE{ background-image: url("@{dir-flags-16}DE@{img-ext}"); }
.flag-16-FR{ background-image: url("@{dir-flags-16}FR@{img-ext}"); }

.flag-24{
  padding-left: 28px;
  background-repeat: no-repeat;
  background-position: center left;
}

.flag-24-CH{ background-image: url("@{dir-flags-24}CH@{img-ext}"); }
.flag-24-DE{ background-image: url("@{dir-flags-24}DE@{img-ext}"); }
.flag-24-FR{ background-image: url("@{dir-flags-24}FR@{img-ext}"); }
