<div class="panel panel-default" style="margin-bottom: 8px;">
  <div class="panel-body">
    <table>
      <tr>
        <td style="width: 120px; padding: 0 20px 0 0;"><img ng-src="/assets/images/clubs/100/{{club.id}}.png"></td>
        <td>
          <strong>{{club.name}}</strong><br>
          <div id="club-info-place-{{club.id}}" style="line-height: 24px;" class="flag-24">{{club.place}}, {{club.country.name}}</div>
          <a href="/editClub/{{club.id}}" class="btn btn-default btn-xs" style="margin-top: 8px;">Edit</a>
        </td>
      </tr>
    </table>
  </div>
</div>
