<div class="springcampus-pageheader">
  <ol class="breadcrumb">
    <li><a href="#/home">Home</a></li>
    <li class="active">Country: {{country.name}}</li>
  </ol>
  <div class="springcampus-pagetitle">
    <h1>{{country.name}}</h1>
  </div>
  <ul class="nav nav-tabs">
    <li id="springcampus-tab-clubs"><a href="#/country_clubs/{{country.id}}">Clubs</a></li>
  </ul>
</div>
