@(countries: List[springcampus.core.domain.Country], clubForm: Form[controllers.ClubFormData])

@import controllers.ClubFormHelpers._

@main("CERN SpringCampus", countries) {
<div class="container">

  @if(clubForm.hasGlobalErrors) {
    <div class="alert alert-danger">
      <ul>
        @for( error <- clubForm.globalErrors ) {
          <li>@error.message</li>
        }
      </ul>
    </div>
  }

  @helper.form(action = routes.EditClubController.clubEdited, 'class -> "form-horizontal", 'role -> "form" ) {
    <!--<input type='hidden' value='@clubForm.data.get("id")' />-->
    @helper.inputText(clubForm("id"), 'class -> "form-control" )
    @helper.inputText(clubForm("name"), 'class -> "form-control" )
    @helper.select(clubForm("country"), Seq("CH"->"Switzerland","DE"->"Germany","FR"->"France"), 'class -> "form-control" )
    @helper.inputText(clubForm("place"), 'class -> "form-control" )
    @helper.inputText(clubForm("arena"), 'class -> "form-control" )
    @helper.inputText(clubForm("longitude"), 'class -> "form-control" )
    @helper.inputText(clubForm("latitude"), 'class -> "form-control" )
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Save</button>
      </div>
    </div>
  }
</div>
}
