@(countries: List[springcampus.core.domain.Country])

@main("CERN SpringCampus", countries) {
<div class="container">
  <div ng-view>
  </div>
  <footer>
    <p>@springcampus.core.context.SpringCampusAppInfo.appName, <a href="@springcampus.core.context.SpringCampusAppInfo.appProjectLink">@springcampus.core.context.SpringCampusAppInfo.appProjectLink</a></p>
  </footer>
</div>
}
